<h1>Sheet Editor</h1>
<hr>
<h3>Name:</h3>
<form [formGroup]="nameForm" (ngSubmit)="updateSheetName(nameForm)">
    <input type="text" formControlName="name">
    <button>Save</button>
    <h3 class="error-message" *ngIf="invalidNameForm">Invalid name.</h3>
    <h3 class="error-message" *ngIf="nameUpdateFailure">Failed to update name.</h3>
    <h3 class="success-message" *ngIf="nameUpdateSuccess">Name updated successfully.</h3>
</form>
<h3>Header Fields:</h3>
<button (click)="openEditFieldModal()">Add</button>
<ul *ngIf="currentSheet">
    <li *ngFor="let headerField of currentSheet.headerFields">
        {{ headerField.name }} | Type: {{ headerField.text ? 'Text' : 'Number'}}
        <button (click)="openEditFieldModal(headerField)">Edit</button>
    </li>
</ul>
<hr>
<h3>Rows:</h3>        
<button (click)="openEditRowModal()">Add</button>
<table *ngIf="currentSheet">
    <tr>
        <th class="default-header-fields" *ngFor="let headerField of currentSheet.headerFields">
            {{ headerField.name }}
        </th>
    </tr>
    <tr class="default-rows" *ngFor="let row of currentSheet.rows">
        <td *ngFor="let headerField of currentSheet.headerFields">
           {{row[headerField.name]}}
        </td>
        <td>
            <button (click)="openEditRowModal(row)">Edit</button>
        </td>
    </tr>
</table>
<hr>
