<h1>Sign In</h1>
<form id="sign-in-form" [formGroup]="signInForm" (ngSubmit)="signIn(signInForm)">
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" formControlName="email" required>
    <label for="password">Password:</label>
    <input id="password" type="text" name="password" formControlName="password" required>
    <button id="login-button">Login</button>
</form>
<h3 *ngIf="invalidCredentials" class="error-message">Invalid email or password. Try again.</h3>
