<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12 p-5 mt-5 custom-card">
            <h1>Sheets List</h1>
            <hr>
            <ul>
                <li *ngFor="let sheet of sheets">
                    <div class="d-flex mb-3">
                        <h5 class="mr-auto mt-2">{{ sheet.name }}</h5>
                        <button class="btn btn-primary view-button ml-2" (click)="viewSheet(workbookId, sheet.id)">View</button>
                        <button class="btn btn-outline-primary edit-button ml-2" (click)="editSheet(workbookId, sheet.id)">Edit</button>
                        <button class="btn btn-outline-danger delete-button ml-2" (click)="confirmDelete(workbookId, sheet.id)">Delete</button>
                    </div>   
                </li>
            </ul>
            <hr>
            <h3>Add Sheet</h3>
            <form [formGroup]="sheetForm" (ngSubmit)="addSheet(sheetForm)">
                <label for="name">Name</label>
                <div>
                    <input type="text" formControlName="name">
                </div>
                <button class="btn btn-primary mt-3">Add</button>
            </form>
            <h3 *ngIf="invalidSheetForm" class="error-message mt-3">Invalid name</h3>
            <hr>
            <h3>Export Sheet</h3>
            <form [formGroup]="exportForm" (ngSubmit)="exportWorkbook(exportForm)">
                <label for="fileName">Save as</label>
                <div>
                    <input type="text" name="fileName" formControlName="fileName">
                </div>
                <button>Export Book</button>
            </form>
            <h3 *ngIf="exportFailed" class="error-message mt-3">Failed to export workbook.</h3>
            <hr>
            <button class="btn btn-primary mt-3" (click)="signOut()">sign out</button> temporary 
        </div>
    </div>
</div>
