<h1 id="workbook-editor-heading">Workbook Editor</h1>
<hr>
<h3>Name:</h3>
<form id="name-form" [formGroup]="nameForm" (ngSubmit)="updateWorkbookName(nameForm)">
    <input id="name-input" type="text" formControlName="name">
    <button>Save</button>
    <h3 class="error-message" *ngIf="invalidNameForm">Invalid name.</h3>
    <h3 class="error-message" *ngIf="nameUpdateFailure">Failed to update name.</h3>
    <h3 class="success-message" *ngIf="nameUpdateSuccess">Name updated successfully.</h3>
</form>
<h3>Default Header Fields:</h3>
<button id="add-header-field-button" (click)="openEditFieldModal()">Add</button>
<ul *ngIf="currentWorkbook">
    <li class="header-field-listing" *ngFor="let headerField of currentWorkbook.headerFields">
        {{ headerField.name }} | Type: {{ headerField.text ? 'Text' : 'Number'}}
        <button (click)="openEditFieldModal(headerField)">Edit</button>
    </li>
</ul>
<hr>
<h3>Default Rows:</h3>        
<button id="add-row-button" (click)="openEditRowModal()">Add</button>
<table *ngIf="currentWorkbook">
    <tr>
        <th class="default-header-fields" *ngFor="let headerField of currentWorkbook.headerFields">
            {{ headerField.name }}
        </th>
    </tr>
    <tr class="default-rows" *ngFor="let row of currentWorkbook.rows">
        <td *ngFor="let headerField of currentWorkbook.headerFields">
           {{row[headerField.name]}}
        </td>
        <td>
            <button (click)="openEditRowModal(row)">Edit</button>
        </td>
    </tr>
</table>
<hr>
